PORT=3012
NODE_ENV=development
MONGO_URI=mongodb://mongodb:27017/ecommerce-audit-logs
KAFKA_BROKERS=kafka:9092
KAFKA_CLIENT_ID=audit-log-service
KAFKA_GROUP_ID=audit-log-group
KAFKA_TOPIC=audit-events
